h2 Grid examples
p This page serves to show what classes and layout options are available with the grid system.

.landmark
  h3 Default
  .grid-group
    .grid.size-3.size-6--lap.size-12--palm
      .dummy .grid.size-3.size-6--lap.size-12--palm
    .grid.size-9.size-6--lap.size-12--palm
      .dummy .grid.size-9.size-6--lap.size-12--palm
    .grid.size-9.size-6--lap.size-12--palm
      .dummy .grid.size-9.size-6--lap.size-12--palm
    .grid.size-3.size-6--lap.size-12--palm
      .dummy .grid.size-3.size-6--lap.size-12--palm


    .grid.size-12
        pre 
          |  .grid-group
          |    .grid.size-3.size-6--lap.size-12--palm
          |      .dummy
          |    .grid.size-9.size-6--lap.size-12--palm
          |      .dummy
          |    .grid.size-9.size-6--lap.size-12--palm
          |      .dummy
          |    .grid.size-3.size-6--lap.size-12--palm
          |      .dummy




.landmark
  h3 Auto Width
  p grid-items automatically get width assigned to them based on the number of grid-items in group. 
  .grid-group
    .grid
      .dummy .grid
    .grid
      .dummy .grid

  .grid-group
    .grid
      .dummy .grid
    .grid
      .dummy .grid
    .grid
      .dummy .grid
    .grid
      .dummy .grid


    .grid.size-12
        pre 
          |  .grid-group
          |    .grid
          |      .dummy
          |    .grid
          |      .dummy
          | 
          |  .grid-group
          |    .grid
          |      .dummy
          |    .grid
          |      .dummy
          |    .grid
          |      .dummy
          |    .grid
          |      .dummy






.landmark
  h3 Alignment
  p Alignment is fairly self-explanatory, items are aligned to one (or more) of six directions:
    code  start, center, end, top, middle, bottom.
  p These alignments can also be breakpoint-specific e.g. items can be aligned to the left on desktop, but centered on lap. 

  .grid-group
    .grid.size-12
      h4 .group-align--start
    .grid
      .dummy 
        .grid-group.group-align--start
          .grid.size-6
            .dummy .grid.size-6

    .grid.size-12
        pre 
          |  .grid
          |    .dummy 
          |      .grid-group.group-align--start
          |        .grid.size-6
          |          .dummy



  .grid-group
    .grid.size-12
      h4 .group-align--center
    .grid
      .dummy 
        .grid-group.group-align--center
          .grid.size-6
            .dummy .grid.size-6

    .grid.size-12
        pre
          |  .grid
          |    .dummy 
          |      .grid-group.group-align--center
          |        .grid.size-6
          |          .dummy 


  .grid-group
    .grid.size-12
      h4 .group-align--end
    .grid
      .dummy 
        .grid-group.group-align--end
          .grid.size-6
            .dummy .grid.size-6

    .grid.size-12
        pre
          |  .grid
          |    .dummy 
          |      .grid-group.group-align--end
          |        .grid.size-6
          |          .dummy


  .grid-group
    .grid.size-12
      h4 .group-align--top
    .grid
      .dummy 
        .grid-group.group-align--top
          .grid.size-6
            .dummy.dummy--large .grid.size-6
          .grid.size-6
            .dummy .grid.size-6

    .grid.size-12
        pre
          |  .grid
          |    .dummy 
          |      .grid-group.group-align--top
          |        .grid.size-6
          |          .dummy.dummy--large
          |        .grid.size-6
          |          .dummy


  .grid-group
    .grid.size-12
      h4 .group-align--middle
    .grid
      .dummy 
        .grid-group.group-align--middle
          .grid.size-6
            .dummy.dummy--large .grid.size-6
          .grid.size-6
            .dummy .grid.size-6

    .grid.size-12
        pre
          |  .grid
          |    .dummy 
          |      .grid-group.group-align--middle
          |        .grid.size-6
          |          .dummy.dummy--large
          |        .grid.size-6
          |          .dummy



  .grid-group
    .grid.size-12
      h4 .group-align--bottom
    .grid
      .dummy 
        .grid-group.group-align--bottom
          .grid.size-6
            .dummy.dummy--large .grid.size-6
          .grid.size-6
            .dummy .grid.size-6

    .grid.size-12
        pre
          |  .grid
          |    .dummy 
          |      .grid-group.group-align--bottom
          |        .grid.size-6
          |          .dummy.dummy--large
          |        .grid.size-6
          |          .dummy


  .grid-group
    .grid.size-12
      h4 .group-align--alignment_-breakpoint
      p The .group-align classes can also be used within a breakpoint by adding a suffix of 
        code _- 
        | and the given breakpoint 
        | e.g. 
        code _-palm

    .grid
      .dummy 
        .grid-group(class="group-align--bottom_-lap")
          .grid.size-6
            .dummy.dummy--large .grid.size-6
          .grid.size-6
            .dummy .grid.size-6

    .grid.size-12
        pre
          |  .grid
          |    .dummy 
          |      .grid-group.group-align--bottom_-palm
          |        .grid.size-6
          |          .dummy.dummy--large
          |        .grid.size-6
          |          .dummy




.landmark
  h3 Direction
  p Flexbox columns are a little strange, as they will continue to expand the parent instead of creating new columns. To make it show multiple columns you need to limit the height of the parent.
  .grid-group
    .grid.size-12
      h4 .group-direction--column
    .grid
      .dummy 
        .grid-group.group-direction--column
          .grid.size-2
            .dummy 1
          .grid.size-2
            .dummy 2
          .grid.size-2
            .dummy 3
          .grid.size-2
            .dummy 4
          .grid.size-2
            .dummy 5
          .grid.size-2
            .dummy 6


    .grid.size-12
        pre
          |  .grid
          |    .dummy 
          |      .grid-group.group-direction--column
          |        .grid.size-2
          |          .dummy
          |        .grid.size-2
          |          .dummy
          |        .grid.size-2
          |          .dummy
          |        .grid.size-2
          |          .dummy
          |        .grid.size-2
          |          .dummy
          |        .grid.size-2
          |          .dummy



.landmark
  h3 Distribution
  p 
    | With the distribution group-class you can control wheter you want the spacing to be around each grid-item or between them.
    | The main difference being wheter you want spacing on the left/right on a row, or top/bottom on a column.

  .grid-group
    .grid.size-12
      h4 .group-distribute--around
    .grid
      .dummy 
        .grid-group.group-distribute--around
          .grid.size-2
            .dummy .grid.size-2
          .grid.size-2
            .dummy .grid.size-2
          .grid.size-2
            .dummy .grid.size-2


    .grid.size-12
        pre
          |  .grid
          |    .dummy 
          |      .grid-group.group-distribute--around
          |        .grid.size-2
          |          .dummy
          |        .grid.size-2
          |          .dummy
          |        .grid.size-2
          |          .dummy


  .grid-group
    .grid.size-12
      h4 .group-distribute--between 
    .grid
      .dummy 
        .grid-group.group-distribute--between
          .grid.size-2
            .dummy .grid.size-2
          .grid.size-2
            .dummy .grid.size-2
          .grid.size-2
            .dummy .grid.size-2

    .grid.size-12
        pre
          |  .grid
          |    .dummy 
          |      .grid-group.group-distribute--between
          |        .grid.size-2
          |          .dummy
          |        .grid.size-2
          |          .dummy
          |        .grid.size-2
          |          .dummy




.landmark
  h3 Reversing
  p 
    | As the name indicates 
    code .group-reverse 
    | reverses the order in which the grid-items are shown.

  .grid-group
    .grid.size-12
      h4 .group-reverse
    .grid
      .dummy 
        .grid-group.group-reverse
          .grid.size-2
            .dummy 1
          .grid.size-2
            .dummy 2
          .grid.size-2
            .dummy 3
          .grid.size-2
            .dummy 4
          .grid.size-2
            .dummy 5
          .grid.size-2
            .dummy 6

    .grid.size-12
        pre 
          |  .grid
          |    .dummy 
          |      .grid-group.group-reverse
          |        .grid.size-2
          |          .dummy 1
          |        .grid.size-2
          |          .dummy 2
          |        .grid.size-2
          |          .dummy 3
          |        .grid.size-2
          |          .dummy 4
          |        .grid.size-2
          |          .dummy 5
          |        .grid.size-2
          |          .dummy 6



.landmark
  h3 Reordering
  p 
    code .grid-order 
    | lets you change the order of the individual grid-item. When multiple items are given the class they retain their order compared to each other.

  .grid-group
    .grid.size-12
      h4 .grid-order--first
    .grid
      .dummy 
        .grid-group
          .grid.size-2
            .dummy 1
          .grid.size-2
            .dummy 2
          .grid.size-2
            .dummy 3
          .grid.size-2
            .dummy 4
          .grid.size-2
            .dummy 5
          .grid.size-2.grid-order--first
            .dummy 6

    .grid.size-12
        pre 
          | .grid
          |   .dummy 
          |     .grid-group
          |       .grid.size-2
          |         .dummy 1
          |       .grid.size-2
          |         .dummy 2
          |       .grid.size-2
          |         .dummy 3
          |       .grid.size-2
          |         .dummy 4
          |       .grid.size-2
          |         .dummy 5
          |       .grid.size-2.grid-order--first
          |         .dummy 6


  .grid-group
    .grid.size-12
      h4 .grid-order--last
    .grid
      .dummy 
        .grid-group
          .grid.size-2.grid-order--last
            .dummy 1
          .grid.size-2.grid-order--last
            .dummy 2
          .grid.size-2
            .dummy 3
          .grid.size-2
            .dummy 4
          .grid.size-2
            .dummy 5
          .grid.size-2
            .dummy 6

      .grid.size-12
        pre 
          | .grid
          |   .dummy 
          |     .grid-group
          |       .grid.size-2.grid-order--last
          |         .dummy 1
          |       .grid.size-2.grid-order--last
          |         .dummy 2
          |       .grid.size-2
          |         .dummy 3
          |       .grid.size-2
          |         .dummy 4
          |       .grid.size-2
          |         .dummy 5
          |       .grid.size-2
          |         .dummy 6