extends layout/layout
block content

  .container
    h1 Hello From index.jade
    
    h2 Grid examples

    h3 Default
    .grid-group
      .grid.size-3.size-6--lap.size-12--palm
        .dummy .grid.size-3.size-6--lap.size-12--palm
      .grid.size-9.size-6--lap.size-12--palm
        .dummy .grid.size-9.size-6--lap.size-12--palm
      .grid.size-9.size-6--lap.size-12--palm
        .dummy .grid.size-9.size-6--lap.size-12--palm
      .grid.size-3.size-6--lap.size-12--palm
        .dummy .grid.size-3.size-6--lap.size-12--palm


    
    h3 Auto Width
    p grid-items get automatically get width assigned based on the number of grid-items in group. 
    .grid-group
      .grid
        .dummy .grid
      .grid
        .dummy .grid

    .grid-group
      .grid
        .dummy .grid
      .grid
        .dummy .grid
      .grid
        .dummy .grid
      .grid
        .dummy .grid


    h3 Alignment
    .grid-group
      .grid.size-12
        h4 .grid-align--start
      .grid
        .dummy 
          .grid-group.grid-align--start
            .grid.size-6
              .dummy .grid.size-6

    
     .grid-group
        .grid.size-12
          h4 .grid-align--center
        .grid
          .dummy 
            .grid-group.grid-align--center
              .grid.size-6
                .dummy .grid.size-6


      .grid-group
        .grid.size-12
          h4 .grid-align--end
        .grid
          .dummy 
            .grid-group.grid-align--end
              .grid.size-6
                .dummy .grid.size-6



      .grid-group
        .grid.size-12
          h4 .grid-align--top
        .grid
          .dummy 
            .grid-group.grid-align--top
              .grid.size-6
                .dummy.dummy--large .grid.size-6
              .grid.size-6
                .dummy .grid.size-6


      .grid-group
        .grid.size-12
          h4 .grid-align--middle
        .grid
          .dummy 
            .grid-group.grid-align--middle
              .grid.size-6
                .dummy.dummy--large .grid.size-6
              .grid.size-6
                .dummy .grid.size-6


      .grid-group
        .grid.size-12
          h4 .grid-align--bottom
        .grid
          .dummy 
            .grid-group.grid-align--bottom
              .grid.size-6
                .dummy.dummy--large .grid.size-6
              .grid.size-6
                .dummy .grid.size-6